/*---------Navigation Bar-------*/

html {
  font-family: "Oswald";
  background-color: #f5f8fa;
  width: 100%;
}
.profile-container, .container-fluid {
  transform: scale(0.8);
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #e3e3e8;
  background-color: white;
  z-index: 1000;
  box-shadow: 0px 0px 15px grey;
  height: 90px;
}
#logo {
  float: left;
  font-size: 3em;
  margin: 0;
  padding: .4em;
  text-decoration: none;
  color: #333;
  border-right: 1px solid #e3e3e8;
  transition: .5s all;
  height: 90px;
  padding-top: 10px;
}
#logo:hover {
  color: #fafafa;
  background-color: #333;
}
nav {
  margin: auto;
}
nav ul {
  list-style-type: none;
  padding: 1.2em 2em;
  padding-top: 1.75em;
}
nav ul li {
  display: inline;
  padding: 0 0.4em;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6em;
  padding-bottom: 0.3em;
  transition: .5s color;
}
nav ul li a:hover {
  cursor: pointer;
  border-bottom: 3px solid #333;
}
.current {
  color: #ff4629;
  border-bottom: 3px solid #333;
}
a#nav-engineers {
  padding-left: 0.6em;
}
img {
  width: auto;
  height: auto;
  border-radius: 5px 5px 0px 0px;
}

.actual-content {
  margin-top: 75px;
}

.container {
  background-color: #f5f8fa;
}

#app {
  background-color: #f5f8fa;
}

/*-------Search Bar---------*/

body {
  margin: 5%;
}

form {
  display: inline;
}

.search-box {
  -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #ebebeb;
}
.search-box + label .search-icon {
  color: black;
}
.search-box:hover {
  color: white;
  background: #c8c8c8;
  box-shadow: 0 0 0 5px #3d4752;
}
.search-box:hover + label .search-icon {
  color: white;
}
.search-box:focus {
  -webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 300px;
  border-radius: auto;
  background: #ebebeb;
  color: black;
}
.search-box:focus + label .search-icon {
  color: black;
}
.search-box:not(:focus) {
  text-indent: -5000px;
}

#search-submit {
  position: relative;
  left: -5000px;
}

.search-icon {
  position: relative;
  left: -30px;
  color: white;
  cursor: pointer;
}

/*----Create Page----------*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


#form-input {
  background-color:rgba(72,72,72,1);
  padding-left:35px;
  padding-right:35px;
  padding-top:25px;
  padding-bottom:50px;
  width: 450px;
  margin: auto;
  /*margin-top: 200px;*/
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  position: absolute;
}

.formInput {
  color:#3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #eff4f4;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.formInput:focus{
  background: #eff4f4;
  box-shadow: 0;
  border: 3px solid #1dabb8;
  color: #1dabb8;
  outline: none;
  padding: 13px 13px 13px 54px;
}

#contributors-form{
  background-image: url(https://cdn0.iconfinder.com/data/icons/users-icon/100/User_Group-128.png);
  background-size: 25px 25px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#projectTitle-form{
  background-image: url(https://cdn2.iconfinder.com/data/icons/files-folders-3/24/files-folders-37-128.png);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#technologies-form{
  background-image: url(https://cdn3.iconfinder.com/data/icons/social-productivity-line-art-3/128/keyboard-128.png);
  background-size: 25px 25px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#image-form{
  background-image: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-128.png);
  background-size: 25px 25px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#projectDescription-form{
  background-image: url(http://icons.iconarchive.com/icons/custom-icon-design/mono-general-2/512/edit-icon.png);
  background-size: 25px 25px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#projectUrl-form {
  background-image: url(http://image005.flaticon.com/25/svg/25/25231.svg);
  background-size: 25px 25px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#deployedUrl-form {
  background-image: url(https://cdn0.iconfinder.com/data/icons/seo-and-internet-marketing-set-1/100/Global_Search-128.png);
  background-size: 25px 25px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}



textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

#button-blue{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  border: #1dabb8 solid 4px;
  cursor:pointer;
  background-color: #1dabb8;
  color: #eff4f4;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
  background-color: rgba(0,0,0,0);
  color: #1dabb8;
}

a:hover {
  text-decoration: none;
}

/*------Projects Page------------*/
.project-entry, .engineer-entry {
  text-align: center;
  display: block;
  margin: 12px;
  float: left;
  position: relative;
  background-color: white;
  width: 250px;
  height: 354px;
  border-radius: 5px;
  overflow: auto;
  box-shadow: 6px 6px 15px grey;
  padding: 0px;
}

.screenshot {
  float: left;
}
.screenshot img {
  height: 250px;
  width: 250px;
  margin: 0px 0px 12px 0px;
}

.navFloat {
  display: inline;
  position: fixed;
  /*float: right;*/
  right: 50px;
}

.blurbinfo {
  text-align: left;
  padding: 10px;
}

/*-------Profile Page-----------*/
/*.profile-container {
  display: block;
  top: 100px;
  width: 1000px;
  height: 450px;
  margin: auto;
  position: relative;
  background-color: gray;
  padding-top: 1px;
  color: white;
}*/

.profile-container {
  display: block;
  height: 380px;
  width: 100%;
  /*width: 350px;*/
  margin-top: 120px;
  /*border: 2px solid black;*/
  border-radius: 8px 5px 5px 8px;
  margin-left: auto;
  margin-right: auto;
}

.profile-content {
  color: #999;
  height: 380px;
  padding: 15px;
  overflow: auto;
  color: black;
}

.btn-default {
  color: white;
}

h2 {
  margin-top: 0px;
}

#profilePhoto {
  height: 380px;
  width: 350px;
  float: left;
  padding: 0px;
}
.profile-pic {
  height: 380px;
  width: 350px;
  margin: 0px;
  border-radius: 15px;
}

.information button {
  display: inline;
  margin-top: 10px;
  border-style: none;
  color: white;
  border-radius: 5px;
  position: relative;
  left: 200px;
  width: 50px;
}
#saveButton {
  background-color: red;
}
#editButton {
  background-color: black;
}

#editButton:hover {
  background-color: red;
  color: white;
}
.information #name {
  color: white;
}
.information h4,
.information input,
.information textarea {
  display: inline-block;
  width: 300px;
  height: 20px;
  font-size: 20px;
}
.information input {
  height: 35px;
  margin-top: 5px;
  background: transparent;
  border: none;
}
.information #bio {
  height: 100px;
}
.information #bioEdit {
  height: 115px;
  word-wrap: break-word;
  padding-left:0;
  padding-top:0;
  padding-bottom:0.4em;
  padding-right: 0.4em;
}

::-webkit-input-placeholder {
   color: gray;
}
:-moz-placeholder { /* Firefox 18- */
   color: gray;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: gray;
}
:-ms-input-placeholder {
   color: gray;
}
.project-collection {
  overflow-x: scroll;
  white-space: nowrap;
}

.project_button {
  background-color: #ff4629;
  color: white;
  font-size: 14px;
  width: 100%;
}

.profile_bar {
  width: 100%;
  background-color: black;
}

div#form-input {
  opacity: 1;
}

.form-container {
  top: 20%;
  left: 30%;
  position: absolute;
}

.container-fluid {
  margin: auto;
  padding-left: 7em;
}
.container-fluid.con {
  padding-left: 10px;
}
.r1 {
  margin-top: 0px;
  overflow-x: auto;
}
.inputField {
  margin-left: 10px;
  margin-right: 10px;
}
.row.edit-bottom {
  padding-bottom: 10px;
}
#user-info {
  min-width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 15px grey;
}
.edit-buttons {
  float: right;
}

span.label {
  opacity: 0.5;
}

span.label,
span.gitHandle {
  color: black;
  margin-left: 5px;
}
span.caption:before,
span.gitHandle:before {
  content: '<';
}
span.caption:after,
span.gitHandle:after {
  content: '>';
}
span.caption,
span.name {
  color: black;
  font-size: 12px;
  display: block;
  opacity: 0.5;
}

div[data-value] {
  background-color: #1dabb8;
}
/*.selectize-control {
  position: relative;
  width: 100%;
}
.selectize-input {
  border: none;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
}*/

.profile-content.border {
  padding-left: 30px;
}

.school-save-button {
  left: 15px;
  width: 130px;
  margin-bottom: 10px;
}

input#school {
  width: 570px;
  margin-bottom: 16px;
  left: -14px;
}

textarea#bio {
  left: 15px;
  margin: 5px 0;
}

.engineer-entry a, 
.project-entry a,
#githubUrl a,
#linkedinUrl a {
  color: blue;
  text-decoration: underline;
}

.logo {
  margin: auto;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  display: inline;
  height: 50px;
  width: auto;
}
.footer {
  margin-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  position: fixed;
  width: 100%;
  /*height: 100%;*/
  /*margin-top: 50px;*/
  bottom: 0px;
  text-align: center;
}

